.landing-page{
    padding-bottom: 20px;
    height: 600px;
    background-size: cover;
    background-image: url('/assets/blog1.jpg');
    z-index: 0;
}

.landing-page .overlay{
    height: 600px;
    background-color: #0000002e;
    z-index: 1;
}



.auth-div{
    float:right;
    list-style: none;
}