<!-- toolbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="padding-right: 50px;">Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#artical">Articals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#authors">Authors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  disabled" [routerLink]="'/addArtical'" >Add Artical</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  disabled" [routerLink]="'/addAuthor'" >Add Author</a>
          </li>
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 600px;">
          <li  class="nav-item">
            <a class="nav-link " [routerLink]="'/login'">Login</a>
          </li>
          <li  class="nav-item">
            <a class="nav-link" [routerLink]="'/signUp'">Sign up</a>
          </li>
        </ul>
        <div class="clearfix"></div>
      
      </div>
    </div>
  </nav>

<!-- blog crousal -->
<div class="landing-page">
<div class="overlay">

</div>
</div>

<app-articals></app-articals>
<app-author></app-author>
<app-contact-us></app-contact-us>

